<h2>Edit Categories</h2>

<%= form_for @category do |f|%>
<% if @category.errors.any? %>
<h4>These errors prohibited the form from being saved: %>
<ul style="color:red;">
	<% @category.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<lable>Name</lable><br/>
<%= f.text_field :name %><br/>

<%=f.submit %>
<% end %>	